<a href="https://colab.research.google.com/github/ndescussebrown/FirstColabrepo/blob/main/First_Colab_Python_File.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Part 1: Code basics**
a.	Colab

b.	The variables

In [4]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

#####How to find how to list files in Google Drive folders

In [ ]:
#can also add content to this path, it
!ls /content/gdrive/MyDrive

In [ ]:
#How to see what is in my google drive
!ls gdrive/MyDrive

In [30]:
#one way to access to iris dataset (but it's not uploaded in google drive!)
from sklearn import datasets
iris = datasets.load_iris()

In [ ]:
#upload iris dataset to google drive but upsing the upload button means it's 
#only available for this session and is only saved locally.

We can save the iris dataset directly from the URL by using wget:

In [107]:
cp /content/iris.data /content/gdrive/MyDrive/iris.data

cp: cannot stat '/content/iris.data': No such file or directory

In [ ]:
#how to download on the machine, we use WGet (https://www.gnu.org/software/wget/
#). It is then named iris.data.1 as there is already another iris.data saved 
#locally
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data

In [ ]:
#To recover a deleted cell
# CTRL+M Z

Until now everything has been saved locally, but we can save to google drive, either by copying it or moving it

In [46]:
mv /content/iris.data /content/gdrive/MyDrive/iris.data

In [47]:
mv /content/iris.names /content/gdrive/MyDrive/iris.names

In [ ]:
#clone Stephan's GitHub repo
!git clone https://github.com/SteBaum/First_Colab_saving

# Variables and Functions

In [49]:
print(1+2)

3

In [54]:
#Integet number is a number in Z
#A float is a decimal number
#type function enables checking type of an input (integer, float, string etc)
type(1+1.3)

float

List of natural number $\mathbb{Z}$

Concatenate

In [60]:
'hello' + ' world'

'hello world'

In [69]:
#How to use variables in a string.
name='Nathalie'
age=20
'Hello, {}. You are {}.'.format(name,age)

'Hello, Nathalie. You are 20.'

In [83]:
#Another way to do this
f'Hello, {name}. You are {age}.'

'Hello, Nathalie. You are 20.'

In [81]:
#Yet nother way to do this
'Hello, %s. You are %s.'% (name, age)

'Hello, Nathalie. You are 20.'

In [84]:
#Multiply strings and number
10 * 'hello'

'hellohellohellohellohellohellohellohellohellohello'

In [103]:
def concat_number(a,b):
  return('{}{}'.format(a,b))

In [104]:
concat_number(name,age)

'Nathalie20'

In [101]:
#Another way to do the above:
def concat_number_2(a,b):
  b=str(b)
  return(a+b)

In [100]:
concat_number_2(name,age)

'Nathalie20'

In [105]:
#careful that the one below will not return anything, but just print it to the 
#screen!
def concat_number_print(a,b):
  print('{}{}'.format(a,b))

In [106]:
concat_number_print(name,age)

Nathalie20

Avoid reusing names of variables in functions for some other variables as it will just cause confusion.